.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.row{
    display: flex;
    min-height: 100vh;
    height: 600px;
}
.row .col{
    padding-bottom: 0.75rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.left-bar{
    padding-top: 2%;
}
.left-bar div{
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Arial Narrow';
}
.left-bar div:hover{
    cursor: pointer;
    background-color: grey;
}
#loadData{
    padding-left: 5%;
    padding-top: 5%;
}
